__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

tex.py

.env
.venv
venv/
ENV/

logs/
*.json
!sw_data.json  

# Redis / Docker
dump.rdb
.dockercompose.status

# OS files
.DS_Store
Thumbs.db